
{% extends 'base.html' %}

{% load static %}
{% block content %}
<style>
    .form-box {
        max-width: 500px;
  margin: auto;
  padding: 50px;
  background: #ffffff;
  border: 10px solid #f2f2f2;
}

h1, p {
  text-align: center;
}

input, textarea {
  width: 100%;
  
}
.form-control{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #303e67;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e3ebf6;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-group{
    margin: 8px 0px;
}
@import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700';

* {font-family: 'Open Sans', sans-serif;}

.rwd-table {
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
}

.rwd-table tr:first-child {
  border-top: none;
  background: #e53471ad;
  color: #fff;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: .5em;
}

.rwd-table td:last-child {
  margin-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
  padding: .5em 1em;
}
@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}


/* THE END OF THE IMPORTANT STUFF */

/* Basic Styling */



h3 {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  color: #cecece;
}


/*
    Don't look at this last part. It's unnecessary. I was just playing with pixel gradients... Don't judge.
*/
/*
@media screen and (max-width: 601px) {
  .rwd-table tr {
    background-image: -webkit-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -moz-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -o-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -ms-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
  }
  .rwd-table tr:nth-child(odd) {
    background-image: -webkit-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -moz-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -o-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -ms-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
  }
}*/
</style>
<div class="form-box">
    <h1 style="    font-size: 24px;
    padding: 7px 17px;">Booth Category Creation</h1>
   
    <form action="" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="name"> Booth Category</label>
        <input class="form-control" id="name" required type="text" name="booth_category">
      </div>
     
    
      <div class="form-group">
        <label for="email">Product</label>
       <select class="form-control" name="product">
        <option value="Event Booth">Event Booth</option>
       </select>
      </div>
      <div class="form-group">
        <label for="email">Price</label>
        <input class="form-control" id="Price" required type="number" name="price">
      </div>
   
      <div class="form-group">
        <label style="font-size: 12px;" for="email">Sponsorship</label>
        <br>
       <span style="    font-size: 13px;">Create Sponsor</span> <input id="my_sponsor_check"  onclick="mycheckboxFun()" name="sponser_status" style="width: 10%;" type="checkbox">
      </div>

      <div class="row" id="sponsor_id" style="display: none;">
        <div class="form-group">
            <label for="email">Sponsor Level</label>
            <select class="form-control" name="sponser_level">

                {% for i in sponsor_level %}

                <option value="{{i.id}}">{{i.sponsor_level}}</option>

                {% endfor %}

            </select>
         
          </div>
          <div class="form-group">
            <label for="email">Sponsor Type</label>
            <select class="form-control" name="sponsor_type">

                {% for i in sponsor_type %}

                <option value="{{i.id}}">{{i.sponsor_type}}</option>

                {% endfor %}

            </select>
          </div>
      </div>
     <br>
  
      <br>
      <input style="    width: 30%;" class="btn btn-primary" type="submit" value="Submit" />
      </div>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



  {% if messages %}
  <script>
   {% for message in messages %}
      Swal.fire(
          '',
          '{{ message }}',
          '{{message.tags}}'
      )
   {% endfor %}
  </script>
  {% endif %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script>
    function mycheckboxFun(){
        var my_sponsor_check = document.getElementById("my_sponsor_check");
        var condition = my_sponsor_check.checked
        if (condition  == true){

            $("#sponsor_id").show()
           
        }
        else{
            $("#sponsor_id").hide()
            
        }
        
    }
  </script>
{% endblock %}