
{% extends 'base.html' %}

{% load static %}
{% block content %}
<style>
    .form-box {
        max-width: 500px;
  margin: auto;
  padding: 50px;
  background: #ffffff;
  border: 10px solid #f2f2f2;
}

h1, p {
  text-align: center;
}

input, textarea {
  width: 100%;
  
}
.form-control{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #303e67;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e3ebf6;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-group{
    margin: 8px 0px;
}
@import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700';

* {font-family: 'Open Sans', sans-serif;}

.rwd-table {
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
}

.rwd-table tr:first-child {
  border-top: none;
  background: #e53471ad;
  color: #fff;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: .5em;
}

.rwd-table td:last-child {
  margin-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
  padding: .5em 1em;
}
@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}


/* THE END OF THE IMPORTANT STUFF */

/* Basic Styling */



h3 {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  color: #cecece;
}


/*
    Don't look at this last part. It's unnecessary. I was just playing with pixel gradients... Don't judge.
*/
/*
@media screen and (max-width: 601px) {
  .rwd-table tr {
    background-image: -webkit-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -moz-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -o-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -ms-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
  }
  .rwd-table tr:nth-child(odd) {
    background-image: -webkit-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -moz-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -o-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -ms-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
  }
}*/
</style>
<div class="form-box">
    <h1 style="    font-size: 24px;
    padding: 7px 17px;">Bank </h1>
   
    <form action="" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="name"> Account Name</label>
        <input class="form-control" id="name" required type="text" name="account_name" value="{{data.account_name}}" readonly>
      </div>
     
      <div class="form-group">
        <label for="name"> Account Email</label>
        <input class="form-control" id="name" required type="text" name="account_email" value="{{data.account_email}}" readonly>
      </div>
     
      <div class="form-group">
        <label for="name"> Business Name</label>
        <input class="form-control" id="name" required type="text" name="business_name" name="account_email" value="{{data.business_name}}" readonly>
      </div>
      <div class="form-group">
        <label for="name"> Business Type</label>
        <input class="form-control" id="name" required type="text" name="business_type" name="business_type" value="{{data.business_type}}" readonly>
    
      </div>
      <div class="form-group">
        <label for="name"> Branch IFSC code</label>
        <input class="form-control" id="name" required type="text" name="branh_ifsc_code" value="{{data.branh_ifsc_code}}" readonly>
      </div>
      <div class="form-group">
        <label for="name">Account Number  </label>
        <input class="form-control" id="name" required type="text" name="account_no" value="{{data.account_no}}" readonly>
      </div>
      <div class="form-group">
        <label for="name">Re-Enter Account Number  </label>
        <input class="form-control" id="name" required type="text" name="re_account_no" value="{{data.re_account_no}}" readonly>
      </div>
      <div class="form-group">
        <label for="name">Beneficiary Name  </label>
        <input class="form-control" id="name" required type="text" name="beneficiary_name" value="{{data.beneficiary_name}}" readonly>
      </div>
     <br>

      <br>
      {% if data.account_verifly_status == False %}
      <a href=""  style="    padding: 5px 21px;
            background: #ff2e2e;
            color: white;
            font-size: 12px;">Reject</a>
            <a data-toggle="modal" data-target="#exampleModal11" href="#" style="    padding: 5px 21px;
            background: green;
            color: white;
            font-size: 12px;">Accept</a>

            {% endif  %}
      </div>
    </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="verifly_account_action" method="POST">
            {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <input type="hidden" value="{{notification_id}}" name="notification_id">
            <input type="hidden" value="{{data.id}}" name="update_id">
          <input type="text" required class="form-control" name="account_id" placeholder="Account Id">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Accept</button>
        </div>
      </div>
    </form>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



  {% if messages %}
  <script>
   {% for message in messages %}
      Swal.fire(
          '',
          '{{ message }}',
          '{{message.tags}}'
      )
   {% endfor %}
  </script>
  {% endif %}
{% endblock %}